@if (skill) {
    <div class="container-component-skill">
        <div class="display-skill-item-details">
            <div class="display-skill-item-title">
                <span>{{skill.title}}</span>
            </div>
    
            <p [innerHTML]="skill.description"></p>
    
            <!-- @if (skill.tags && skill.tags.length > 0) {
                <div class="display-skill-item-tags">
                    @for (tagItem of skill.tags; track tagItem) {
                        <app-tag [tag]="tagItem"></app-tag>
                    }
                </div>
            } -->
    
            @if(showExperience) {
                @if (skill.experience && skill.experience.length > 0) {
                    <div class="display-skill-item-experience">
                        @for (experienceItem of skill.experience; track experienceItem) {
                            <div class="display-experience-item">
                                <div class="display-experience-title">
                                    <!-- @switch(experienceItem.type) {
                                        @case(eSkillExperienceType.PERSONAL) {
                                            <span class="fa fa-fw fa-mug-saucer" [title]="eSkillExperienceType.PERSONAL"></span>
                                        }
                                        @case(eSkillExperienceType.PROFESSIONAL) {
                                            <span class="fa fa-fw fa-briefcase" [title]="eSkillExperienceType.PROFESSIONAL"></span>
                                        }
                                        @case(eSkillExperienceType.EDUCATION) {
                                            <span class="fa fa-fw fa-graduation-cap" [title]="eSkillExperienceType.EDUCATION"></span>
                                        }
                                     } -->

                                    <span>{{experienceItem.title}}</span>
                                </div>
                                @if (experienceItem.description) {
                                    <p [innerHTML]="experienceItem.description"></p>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
}