<div class="container-component-career-history">
    <div class="area-career-entries-list">
        @for (careerEntry of careerEntries; track careerEntry) {
            <div class="display-career-item" [ngClass]="'career-item-type-' + careerEntry.type">
                <div class="display-career-item-date-desktop">{{careerEntry.startDate | date: 'MMM yyyy'}}</div>
                <div class="display-career-item-timeline">
                    <div class="timeline-circle"></div>
                    <div class="timeline-line"></div>
                </div>
                <div class="display-career-item-details print-whole">
                    @if (careerEntry.type === eCareerEntryType.POSITION) {
                        <app-card>
                            <app-career-entry [careerEntry]="careerEntry"></app-career-entry>
                        </app-card>
                    }
                    @else {
                        <app-career-entry [careerEntry]="careerEntry"></app-career-entry>
                    }
                </div>
            </div>
        }
    </div>
</div>
