@use 'breakpoints';

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    &.side-by-side-big-right {
        @include breakpoints.md {
            grid-template-columns: 1fr 2fr;
        }
    }

    
    &.side-by-side-big-left {
        flex-direction: row-reverse;

        @include breakpoints.md {
            grid-template-columns: 2fr 1fr;
        }
    }

    @include breakpoints.md {
        grid-template-columns: 1fr 1fr;
    }
}
