@if (technology) {
    <div class="container-component-technology">
        <div class="display-technology-item-details print-whole">
            <div class="display-technology-item-title">
                <span>{{technology.title}}</span>
            </div>

            <!-- @if (technology.tags && technology.tags.length > 0) {
                <div class="display-technology-item-tags">
                    @for (tagItem of technology.tags; track tagItem) {
                        <app-tag [tag]="tagItem"></app-tag>
                    }
                </div>
            } -->

            @if (technology.experience && technology.experience.length > 0) {
                @if(showExperience) {
                    <div class="display-technology-item-experience">
                        @for (experienceItem of technology.experience; track experienceItem) {
                            <div class="display-experience-item">
                                <div class="display-experience-title">
                                    <span>{{experienceItem.title}}</span>
                                </div>
                                @if (experienceItem.description) {
                                    <p [innerHTML]="experienceItem.description"></p>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
}
