@use 'theme';
@use 'breakpoints';

.container-component-career {
    .area-navigation-tabs {
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
        width: 100%;
    }
}
