@use 'theme';
@use 'breakpoints';

.container-component-career {
    .area-csv-download {
        text-align: center;
        padding-bottom: 16px;
    }

    .area-navigation-tabs {
        .area-navigation-tabs-inner {
            display: flex;
            justify-content: center;
            padding-bottom: 32px;
            width: 100%;
        }
    }
}
