.container-component-homepage {
    padding-top: 10px;

    .headshot-container {
        max-width: 500px;
        justify-self: center;
        padding: 0 16px;

        .headshot {
            width: 100%;
        }
    }
}
