<div class="container-component-homepage">
  <div class="side-by-side side-by-side-big-right">
    <div class="headshot-container">
      <img src="assets/images/headshot.webp" alt="A headshot of me" class="img-rounded headshot" />
    </div>
  
    <div class="main-description">
      <h1>Hey, I'm Daire</h1>
      <p>
        I'm a software engineer based in Mayo, Ireland. I'm currently working at <a href="https://www.getfrankli.com" target="_blank">Frankli</a> as a Senior Software Engineer.
      </p>
      <p>
        Primarily, I'm a full-stack web developer but sometimes I like to explore other areas of software development.
      </p>
    </div>
  </div>

  <div class="area-spotify-onrepeat">
    <p>
      Here's what I've been listening to lately:
    </p>
    <iframe class="iframe-spotify-playlist" src="https://open.spotify.com/embed/playlist/37i9dQZF1Epwk7SuBT7N2r?theme=0" width="100%" height="480" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</div>
