@use 'theme';
@use 'breakpoints';

.app-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;

    .container-sidebar {
        position: sticky;
        top: 0;
        max-height: 100vh;
        display: none;
    }

    .container-main-page {
        .container-page {
            padding: 32px;
            max-height: 100vh;
            overflow: auto;
            text-align: center;
            
            .container-page-inner {
                display: inline-block;
                text-align: left;
                max-width: 700px;
                margin-bottom: 64px;
            }
        }
    }

    &.mobile-sidebar-open {
        grid-template-columns: auto 1fr;

        .container-sidebar {
            display: block;
            height: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // bottom: 0;
        }
    }

    @include breakpoints.md {
        .container-sidebar {
            display: block;
        }

        .container-main-page {
            .container-navbar-mobile {
                display: none;
            }
        }
    }
}
