<div class="container-component-sidebar">
    <div class="area-branding">
        <div>Daire Finn</div>
    </div>

    <div class="area-navigation">
        <ul class="area-internal-links">
            <li>
                <a routerLink="/home" routerLinkActive="active">
                    <span class="fa fa-fw fa-house"></span>
                    <span class="navigation-link-title">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/projects" routerLinkActive="active">
                    <span class="fa fa-fw fa-pen-ruler"></span>
                    <span class="navigation-link-title">Projects</span>
                </a>
            </li>
            <li>
                <a routerLink="/career" routerLinkActive="active">
                    <span class="fa fa-fw fa-briefcase"></span>
                    <span class="navigation-link-title">Career</span>
                </a>
            </li>
        </ul>

        <div class="navigation-heading">My profiles</div>

        <ul class="area-external-links">
            <li>
                <a href="https://github.com/dairefinn" target="_blank">
                    <span class="fa-brands fa-fw fa-github"></span>
                    <span class="navigation-link-title">GitHub</span>
                    <span class="fa fa-fw fa-arrow-up-right-from-square"></span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/daire-finn-44b883263/" target="_blank">
                    <span class="fa-brands fa-fw fa-linkedin"></span>
                    <span class="navigation-link-title">LinkedIn</span>
                    <span class="fa fa-fw fa-arrow-up-right-from-square"></span>
                </a>
            </li>
        </ul>
    </div>
</div>