<div class="container-component-project">
    <app-page-wrapper>
        <div class="area-project-entries-list">
            @for (projectItem of projectEntries; track projectItem) {
                <div class="display-project-item print-whole">
                    <div class="display-project-item-date">
                        <span>{{projectItem.startDate | date: 'd MMM yyyy'}}</span>
                    </div>
                    <div class="display-project-item-details">
                        <app-project-entry [projectItem]="projectItem"></app-project-entry>
                    </div>
                </div>
            }
        </div>
    </app-page-wrapper>
</div>
