@use 'theme';
@use 'breakpoints';

.container-component-project {
    .area-project-entries-list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .display-project-item {
            .display-project-item-date {
                font-size: 0.8rem;
                color: theme.$white-300;
                // align-self: center;
            }

            @include breakpoints.md {
                display: grid;
                gap: 32px;
                grid-template-columns: 90px 1fr;

                .display-project-item-date {
                    text-align: right;
                }
            }
        }
    }
}
