@use 'theme';
@use 'breakpoints';

.container-component-sidebar {
    background-color: theme.$gray-400;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid theme.$gray-200;

    .area-branding {
        // color: theme.$purple-500;
        font-size: 1.2rem;
        font-weight: 600;
        // text-align: center;
        margin-bottom: 16px;

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .navigation-heading {
        font-size: .7rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: theme.$white-400;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    ul {
        flex-direction: row;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        
        li {
            list-style-type: none;
            margin-bottom: 8px;
            cursor: pointer;

            a {
                font-size: .8rem;
                padding: 8px 16px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 600;
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: .75rem;
                align-items: center;
                
                &:hover {
                    background-color: theme.$gray-300;
                }
                
                &.active {
                    background-color: theme.$gray-600;
                }

                & > .navigation-link-title {
                    line-height: .8rem;
                }
            }
        }

        &.area-external-links {
            li {
                a {
                }
            }
        }
    }

    @include breakpoints.md {
        border-right: 1px solid theme.$gray-200;
        width: 200px;
        height: 100%;

        ul {
            flex-direction: column;
        }
    }
}
