@use 'theme';
@use 'breakpoints';

.container-component-sidebar {
    background-color: theme.$gray-400;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid theme.$gray-200;

    .area-branding {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .navigation-heading {
        font-size: .7rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: theme.$white-400;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    ul {
        flex-direction: row;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        user-select: none;
    }

    @include breakpoints.md {
        border-right: 1px solid theme.$gray-200;
        width: 200px;
        height: 100%;

        ul {
            flex-direction: column;
        }

        .navigation-heading {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
}
