<div class="container-component-sidebar">
    <div class="area-branding">
        <div>Daire Finn</div>
    </div>

    <div class="area-navigation">
        <ul class="area-internal-links">
            @for (sidebarItem of internalLinks; track sidebarItem) {
                <li>
                    <a [routerLink]="sidebarItem.route" routerLinkActive="active">
                        <span [ngClass]="sidebarItem.icon"></span>
                        <span class="navigation-link-title">{{ sidebarItem.title }}</span>
                    </a>
                </li>
            }
        </ul>

        <div class="navigation-heading">My profiles</div>

        <ul class="area-external-links">
            @for (sidebarItem of externalLinks; track sidebarItem) {
                <li>
                    <a [href]="sidebarItem.route" target="_blank">
                        <span [ngClass]="sidebarItem.icon"></span>
                        <span class="navigation-link-title">{{ sidebarItem.title }}</span>
                        @if (sidebarItem.isExternal) {
                            <span class="fa fa-fw fa-arrow-up-right-from-square"></span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
</div>