<div class="container-component-sidebar">
    <div class="area-branding">
        <div>Daire Finn</div>
    </div>

    <div class="area-navigation">
        <ul class="area-internal-links">
            @for (sidebarItem of internalLinks; track sidebarItem) {
                <app-sidebar-link [sidebarItem]="sidebarItem"></app-sidebar-link>
            }
        </ul>

        <div class="navigation-heading">My profiles</div>

        <ul class="area-external-links">
            @for (sidebarItem of externalLinks; track sidebarItem) {
                <app-sidebar-link [sidebarItem]="sidebarItem"></app-sidebar-link>
            }
        </ul>

        <div class="navigation-heading">Downloads</div>
        <ul class="area-download-links">
            @for (sidebarItem of downloadLinks; track sidebarItem) {
                <app-sidebar-link [sidebarItem]="sidebarItem"></app-sidebar-link>
            }
        </ul>

    </div>
</div>
