@use 'theme';
@use 'breakpoints';

.container-component-sidebar {
    background-color: theme.$gray-400;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid theme.$gray-200;
    width: 200px;
    height: 100%;

    .area-branding {
        display: none;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .navigation-heading {
        font-size: .7rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: theme.$white-300;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        user-select: none;
    }

    @include breakpoints.md {
        .area-branding {
            display: block;
        }
    }
}
