@use './assets/scss/theme';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  background-color: theme.$gray-500;
  color: theme.$white-500;
  font-family: Segoe UI,Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;

  a {
    color: theme.$white-400;
  }
}

